<!doctype html>
<!--[if IE 9]> <html class="ie9 no-js" lang="{{ shop.locale }}"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html class="no-js" lang="{{ shop.locale }}"> <!--<![endif]-->
<head>
  {{ 'geolizr-lib.js' | asset_url | script_tag }}
  {{ 'geolizr-lib.css' | asset_url | stylesheet_tag }}
  <script>Geolizr.config({"currency_widget_enabled":"{% if shop.metafields.geolizr.currency_widget_enabled == 'true' %}true{% else %}false{% endif %}"});</script>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta name="theme-color" content="{{ settings.color_button }}">
  <link rel="canonical" href="{{ canonical_url }}">

  {% if settings.favicon != blank %}
  <link rel="shortcut icon" href="{{ settings.favicon | img_url: '32x32' }}" type="image/png">
  {% endif %}

  {% capture seo_title %}
  {{ page_title }}
  {% if current_tags %}
  {%- assign meta_tags = current_tags | join: ', ' %} &ndash; {{ 'general.meta.tags' | t: tags: meta_tags -}}
  {% endif %}
  {% if current_page != 1 %}
  &ndash; {{ 'general.meta.page' | t: page: current_page }}
  {% endif %}
  {% unless page_title contains shop.name %}
  &ndash; {{ shop.name }}
  {% endunless %}
  {% endcapture %}
  <title>{{ seo_title }}</title>

  {% if page_description %}
  <meta name="description" content="{{ page_description | escape }}">
  {% endif %}

  {% include 'social-meta-tags' %}

  {{ 'theme.scss.css' | asset_url | stylesheet_tag }}
  {% include 'google-fonts' %}

  <script>
    var theme = {
      strings: {
        addToCart: {{ 'products.product.add_to_cart' | t | json }},
        soldOut: {{ 'products.product.sold_out' | t | json }},
        unavailable: {{ 'products.product.unavailable' | t | json }},
        showMore: {{ 'general.filters.show_more' | t | json }},
        showLess: {{ 'general.filters.show_less' | t | json }},
        addressError: {{ 'sections.map.address_error' | t | json }},
        addressNoResults: {{ 'sections.map.address_no_results' | t | json }},
        addressQueryLimit: {{ 'sections.map.address_query_limit_html' | t | json }},
        authError: {{ 'sections.map.auth_error_html' | t | json }}
      },
      moneyFormat: {{ shop.money_format | json }}
    }

      document.documentElement.className = document.documentElement.className.replace('no-js', 'js');
  </script>

  <!--[if (lte IE 9) ]>{{ 'match-media.min.js' | asset_url | script_tag }}<![endif]-->

  {% if template.directory == 'customers' %}
  <!--[if (gt IE 9)|!(IE)]><!--><script src="{{ 'shopify_common.js' | shopify_asset_url }}" defer="defer"></script><!--<![endif]-->
  <!--[if lte IE 9]><script src="{{ 'shopify_common.js' | shopify_asset_url }}"></script><![endif]-->
  {% endif %}

  <!--[if (gt IE 9)|!(IE)]><!--><script src="{{ 'lazysizes.js' | asset_url }}" async="async"></script><!--<![endif]-->
  <!--[if lte IE 9]><script src="{{ 'lazysizes.min.js' | asset_url }}"></script><![endif]-->

  <!--[if (gt IE 9)|!(IE)]><!--><script src="{{ 'vendor.js' | asset_url }}" defer="defer"></script><!--<![endif]-->
  <!--[if lte IE 9]><script src="{{ 'vendor.js' | asset_url }}"></script><![endif]-->

  <!--[if (gt IE 9)|!(IE)]><!--><script src="{{ 'theme.js' | asset_url }}" defer="defer"></script><!--<![endif]-->
  <!--[if lte IE 9]><script src="{{ 'theme.js' | asset_url }}"></script><![endif]-->

  {{ content_for_header }}
  {%- include 'bold-hybrid' -%}
  {%- include 'bold-common' -%}
  {{ 'bold-po.css' | asset_url | stylesheet_tag }}
  {% include 'bold-po-custom' %}

  <meta name="p:domain_verify" content="1249c71391aed82d1c18b81c51fa9817"/>

  <script>
    window.pintrk && pintrk('track', 'addtocart');
  </script>
  <noscript>
    <img height="1" width="1" style="display:none;" alt=""
         src="https://ct.pinterest.com/v3/?tid=2615186232248&event=addtocart&noscript=1"/>
  </noscript> 
  <script type="text/javascript"> !function(e){if(!window.pintrk){window.pintrk=function(){window.pintrk.queue.push(Array.prototype.slice.call(arguments))};var n=window.pintrk;n.queue=[],n.version="3.0";var t=document.createElement("script");t.async=!0,t.src=e;var r=document.getElementsByTagName("script")[0];r.parentNode.insertBefore(t,r)}}("https://s.pinimg.com/ct/core.js"); pintrk('load','2615186232248', { em: '{{ customer.email }}', }); pintrk('page'); </script> <noscript> <img height="1" width="1" style="display:none;" alt="" src="https://ct.pinterest.com/v3/?tid=2615186232248&noscript=1" /> </noscript>
  {{ '//ajax.googleapis.com/ajax/libs/jquery/2.2.3/jquery.min.js' | script_tag }}

  <!-- Global site tag (gtag.js) - AdWords: 865968069 --> 
  <script async src="https://www.googletagmanager.com/gtag/js?id=AW-865968069"></script> 
  <script> window.dataLayer = window.dataLayer || []; function gtag(){dataLayer.push(arguments);} gtag('js', new Date()); gtag('config', 'AW-865968069'); </script>

  <!-- Twitter universal website tag code -->
  <script>
    !function(e,t,n,s,u,a){e.twq||(s=e.twq=function(){s.exe?s.exe.apply(s,arguments):s.queue.push(arguments);
                                                     },s.version='1.1',s.queue=[],u=t.createElement(n),u.async=!0,u.src='//static.ads-twitter.com/uwt.js',
                                   a=t.getElementsByTagName(n)[0],a.parentNode.insertBefore(u,a))}(window,document,'script');
    // Insert Twitter Pixel ID and Standard Event data below
    twq('init','nyhlc');
    twq('track','PageView');
  </script>
  <!-- End Twitter universal website tag code -->
  <script
          type="text/javascript"
          async defer
          src="//assets.pinterest.com/js/pinit.js">
  </script>
  <script async src="https://cdn.enlistly.com/track/www.mysmartblinds.com.enlistly.js"></script>


  {% include 'shogun-head' %}
</head>

<body class="template-{{ template | split: '.' | first }}">

  <a class="in-page-link visually-hidden skip-link" href="#MainContent">{{ 'general.accessibility.skip_to_content' | t }}</a>

  <div id="SearchDrawer" class="search-bar drawer drawer--top">
    <div class="search-bar__table">
      <div class="search-bar__table-cell search-bar__form-wrapper">
        <form class="search search-bar__form" action="/search" method="get" role="search">
          <button class="search-bar__submit search__submit btn--link" type="submit">
            {% include 'icon-search' %}
            <span class="icon__fallback-text">{{ 'general.search.submit' | t }}</span>
          </button>
          <input class="search__input search-bar__input" type="search" name="q" value="{{ search.terms | escape }}" placeholder="{{ 'general.search.placeholder' | t }}" aria-label="{{ 'general.search.placeholder' | t }}">
        </form>
      </div>
      <div class="search-bar__table-cell text-right">
        <button type="button" class="btn--link search-bar__close js-drawer-close">
          {% include 'icon-close' %}
          <span class="icon__fallback-text">{{ 'general.search.close' | t }}</span>
        </button>
      </div>
    </div>
  </div>

  {% section 'header' %}

  <div class="page-container" id="PageContainer">

    <main class="main-content" id="MainContent" role="main">
      {{ content_for_layout }}
    </main>

    {% section 'footer' %}

  </div>
  {% include 'mw_PO_objects' %}
  {% include 'subscription-theme-footer' %}

  {% comment %}{% include 'geolizr-redirect' %}{% endcomment %}
  {% include 'geolizr-currency-converter' %}

  
<!-- BEEKETINGSCRIPT CODE START -->{% include 'bk-tracking' %}<!-- BEEKETINGSCRIPT CODE END --></body>
</html>
    <!-- StartDeliveryDateRange version: 1.1 -->
    <script>
      var DeliveryDateRangeData = (function() {
        var data = {
          product: null,
          cartProducts: []
        };

        {% if product %}
          {% assign collection_titles = product.collections | map: 'title' | downcase %}
          data.product = (function() {
            return {
              tags: {{ product.tags | json }},
              collections: {{ collection_titles }},
              vendor: "{{ product.vendor | downcase }}",
              type: "{{ product.type | downcase }}"
            }
          })();
        {% endif %}
        {% if cart.items.size > 0 %}
          {% for item in cart.items %}
            {% assign collection_titles = item.product.collections | map: 'title' | downcase %}
            data.cartProducts.push(function() {
              return {
                tags: {{ item.product.tags | json }},
                collections: {{ collection_titles }},
                vendor: "{{ item.product.vendor | downcase }}",
                type: "{{ item.product.type | downcase }}"
              }
            }());
          {% endfor %}
        {% endif %}

        return data;
      })();

    </script>
    <!-- EndDeliveryDateRange -->
