{%- include 'bold-product' with product, hide_action: 'break', output: 'none' -%}
<div class="product-template__container page-width" itemscope itemtype="http://schema.org/Product" id="ProductSection-{{ section.id }}" data-section-id="{{ section.id }}" data-section-type="product" data-enable-history-state="true">


  <meta itemprop="name" content="{{ product.title }}">
  <meta itemprop="url" content="{{ shop.url }}{{ product.url }}">
  <meta itemprop="image" content="{{ product.featured_image.src | img_url: '800x' }}">

  {% comment %}
    Get first variant, or deep linked one
  {% endcomment %}
  {%- assign current_variant = product.selected_or_first_available_variant -%}
  {%- assign product_image_zoom_size = '1024x1024' -%}
  {%- assign product_image_scale = '2' -%}
  {%- assign enable_zoom = section.settings.enable_zoom -%}

  {% case section.settings.image_size %}
    {% when 'small' %}
      {%- assign product_image_width = 'medium-up--one-third' -%}
      {%- assign product_description_width = 'medium-up--two-thirds' -%}
      {%- assign product_thumbnail_width = 'medium-up--one-third' -%}
      {%- assign height = 345 -%}
    {% when 'medium' %}
      {%- assign product_image_width = 'medium-up--one-half' -%}
      {%- assign product_description_width = 'medium-up--one-half' -%}
      {%- assign product_thumbnail_width = 'medium-up--one-quarter' -%}
      {%- assign height = 530 -%}
    {% when 'large' %}
      {%- assign product_image_width = 'medium-up--two-thirds' -%}
      {%- assign product_description_width = 'medium-up--one-third' -%}
      {%- assign product_thumbnail_width = 'medium-up--one-fifth' -%}
      {%- assign height = 720 -%}
    {% when 'full' %}
      {%- assign product_image_width = '' -%}
      {%- assign product_description_width = '' -%}
      {%- assign product_thumbnail_width = 'medium-up--one-eighth' -%}
      {%- assign height = 1090 -%}
      {%- assign enable_zoom = false -%}
  {% endcase %}



  <div class="grid product-single">
    <div class="grid__item product-single__photos {{ product_image_width }}{% if section.settings.image_size == 'full' %} product-single__photos--full{% endif %}">
      {%- assign featured_image = product.selected_or_first_available_variant.featured_image | default: product.featured_image -%}
      {% for image in product.images %}
        {% capture img_id %}FeaturedImage-{{ section.id }}-{{ image.id }}{% endcapture %}
        {% capture img_class %}product-featured-img{% endcapture %}
        {% capture zoom_img_id %}FeaturedImageZoom-{{ section.id }}-{{ image.id }}{% endcapture %}
        {% capture img_wrapper_id %}{{ zoom_img_id }}-wrapper{% endcapture %}
        {%- assign img_url = image | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}

        {% include 'image-style' with small_style: true, width: height, height: height, wrapper_id: img_wrapper_id, img_id: img_id %}

        <div id="{{ img_wrapper_id }}" class="product-single__photo-wrapper js">
          <div id="{{ zoom_img_id }}" style="padding-top:{{ 1 | divided_by: image.aspect_ratio | times: 100}}%;" class="product-single__photo{% if enable_zoom %} js-zoom-enabled{% endif %}{% if product.images.size > 1 %} product-single__photo--has-thumbnails{% endif %}{% unless featured_image == image %} hide{% endunless %}" data-image-id="{{ image.id }}"{% if enable_zoom %} data-zoom="{{ image | img_url: product_image_zoom_size, scale: product_image_scale }}"{% endif %}>
            <img id="{{ img_id }}"
                 class="feature-row__image {{ img_class }} lazyload{% unless featured_image == image %} lazypreload{% endunless %}"
                 src="{{ image | img_url: '300x300' }}"
                 data-src="{{ img_url }}"
                 data-widths="[180, 360, 540, 720, 900, 1080, 1296, 1512, 1728, 2048]"
                 data-aspectratio="{{ image.aspect_ratio }}"
                 data-sizes="auto"
                 alt="{{ image.alt | escape }}">
          </div>
        </div>
      {% endfor %}

      <noscript>
        {% capture product_image_size %}{{ height }}x{% endcapture %}
        <img src="{{ featured_image | img_url: product_image_size, scale: product_image_scale }}" alt="{{ featured_image.alt }}" id="FeaturedImage-{{ section.id }}" class="product-featured-img" style="max-width: {{ height }}px;">
      </noscript>

      {% if product.images.size > 1 %}
        {% if product.images.size > 3 %}
          {%- assign enable_thumbnail_slides = true -%}
        {% endif %}

        <div class="thumbnails-wrapper{% if enable_thumbnail_slides == true %} thumbnails-slider--active{% endif %}">
          {% if enable_thumbnail_slides == true %}
            <button type="button" class="btn btn--link medium-up--hide thumbnails-slider__btn thumbnails-slider__prev thumbnails-slider__prev--{{ section.id }}">
              {% include 'icon-chevron-left' %}
              <span class="icon__fallback-text">{{ 'sections.slideshow.previous_slide' | t }}</span>
            </button>
          {% endif %}
          <ul class="grid grid--uniform product-single__thumbnails product-single__thumbnails-{{ section.id }}">
            {% for image in product.images %}
              <li class="grid__item {{ product_thumbnail_width }} product-single__thumbnails-item js">
                <a href="{{ image.src | img_url: product_image_zoom_size, scale: product_image_scale }}"
                   class="text-link product-single__thumbnail product-single__thumbnail--{{ section.id }}"
                   data-thumbnail-id="{{ image.id }}"
                   {% if enable_zoom %}data-zoom="{{ image.src | img_url: product_image_zoom_size, scale: product_image_scale }}"{% endif %}>
                     <img class="product-single__thumbnail-image" src="{{ image.src | img_url: '110x110', scale: 2 }}" alt="{{ image.alt | escape }}">
                </a>
              </li>
            {% endfor %}
          </ul>
          {% if enable_thumbnail_slides == true %}
            <button type="button" class="btn btn--link medium-up--hide thumbnails-slider__btn thumbnails-slider__next thumbnails-slider__next--{{ section.id }}">
              {% include 'icon-chevron-right' %}
              <span class="icon__fallback-text">{{ 'sections.slideshow.next_slide' | t }}</span>
            </button>
          {% endif %}
        </div>
      {% endif %}
    </div>

    <div class="grid__item {{ product_description_width }}">
      <div class="product-single__meta">

        <!--<h1 itemprop="name" class="product-single__title">{{ product.title }}</h1>-->
        <h1 itemprop="name" class="product-single__title">

          {% if product.metafields["global"]["title_img"] %}
          <img src="{{ product.metafields["global"]["title_img"] }}" alt="{{product.title}}" title="{{product.title}}" style="width: 420px" />

          {% else %}

        {{ product.title }}

        {% endif %}
        </h1>
        {% if section.settings.show_vendor %}
          <p itemprop="brand" class="product-single__vendor">{{ product.vendor }}</p>
        {% endif %}

        <div itemprop="offers" itemscope itemtype="http://schema.org/Offer">
          <meta itemprop="priceCurrency" content="{{ shop.currency }}">

          <link itemprop="availability" href="http://schema.org/{% if product.available %}InStock{% else %}OutOfStock{% endif %}">

          <p id="product-price" class="product-single__price product-single__price-{{ section.id }}{% unless current_variant.available %} product-price--sold-out{% endunless %}" style="font-size:30px;margin-bottom:10px;margin-top:10px;">
            {% if current_variant.compare_at_price > current_variant.price %}
                <span class="visually-hidden">{{ 'products.product.regular_price' | t }}</span>
                <s id="ComparePrice-{{ section.id }}">{% assign geolizr_price =  current_variant.compare_at_price  %}{% include 'geolizr-currency' with geolizr_price %}{{ current_variant.compare_at_price | money | prepend: geolizr_prepend_code | append: geolizr_append_code }}</s>
                <span class="bold_option_price_display product-price__price product-price__price-{{ section.id }} product-price__sale product-price__sale--single">
                  <span id="ProductPrice-{{ section.id }}" class="bold_option_price_display bold_custom_hidden"
                    itemprop="price" content="{{ current_variant.price | divided_by: 100.00 }}">
                    {% assign geolizr_price =  current_variant.price  %}{% include 'geolizr-currency' with geolizr_price %}{{ current_variant.price | money | prepend: geolizr_prepend_code | append: geolizr_append_code }}
                  </span>
                  <span class="product-price__sale-label product-price__sale-label-{{ section.id }}">{{ 'products.product.on_sale' | t }}</span>
                </span>
            {% else %}
              <span class="visually-hidden">{{ 'products.product.regular_price' | t }}</span>
              <s id="ComparePrice-{{ section.id }}" class="hide">{% assign geolizr_price =  current_variant.compare_at_price  %}{% include 'geolizr-currency' with geolizr_price %}{{ current_variant.compare_at_price | money | prepend: geolizr_prepend_code | append: geolizr_append_code }}</s>
              <span class="product-price__price product-price__price-{{ section.id }}">
                <span id="ProductPrice-{{ section.id }}" class="bold_option_price_display"
                  itemprop="price" content="{{ current_variant.price | divided_by: 100.00 }}">
                  {% assign geolizr_price =  current_variant.price  %}{% include 'geolizr-currency' with geolizr_price %}{{ current_variant.price | money | prepend: geolizr_prepend_code | append: geolizr_append_code }}
                </span>
                <span class="product-price__sale-label product-price__sale-label-{{ section.id }} hide">{{ 'products.product.on_sale' | t }}</span>
              </span>
            {% endif %}
          </p>

          <hr style="font-size:30px;margin-bottom:5px;margin-top:5px;">

          <p id="demo" style="font-size:16px;" content="{{ current_variant.price | divided_by: 600.00 }}">
            or as low as {% assign geolizr_price =  product.price | divided_by: 6.0  %}{% include 'geolizr-currency' with geolizr_price %}{{ product.price | divided_by: 6.0 | money | prepend: geolizr_prepend_code | append: geolizr_append_code }} per month with <img src="https://cdn.shopify.com/s/files/1/2442/0679/files/splititlogo-01_large.png?v=1554741407" alt="Splitit" class="splitit_inline" /> <span style="font-size:12px;text-decoration:underline;"><a href="javascript:void(0)" onclick="openSplitit()">Details</a></span>

          </p>

          <form action="/cart/add" data-productid="{{product.id}}" method="post" enctype="multipart/form-data" class="product-form product-form-{{ section.id }}{% unless section.settings.show_variant_labels %} product-form--hide-variant-labels{% endunless %}" data-section="{{ section.id }}">
                        {% comment %}

            <!-- as of 2019/5/20 this app is not installed; disabling for now -->{% if product.available %}{% include 'subscription-product' %}{% endif %} {% endcomment %}

            {% unless product.options.size == 1 and product.variants[0].title == 'Default Title' %}
              {% for option in product.options_with_values %}
                <div class="selector-wrapper js product-form__item">
                  <label {% if option.name == 'default' %}class="label--hidden" {% endif %}for="SingleOptionSelector-{{ forloop.index0 }}">
                    {{ option.name }}
                  </label>
                  <select class="single-option-selector single-option-selector-{{ section.id }} product-form__input" id="SingleOptionSelector-{{ forloop.index0 }}" data-index="option{{ forloop.index }}">
                    {% for value in option.values %}
                      <option value="{{ value | escape }}"{% if option.selected_value == value %} selected="selected"{% endif %}>{{ value }}</option>
                    {% endfor %}
                  </select>
                </div>
              {% endfor %}
            {% endunless %}

            <select name="id" data-productid="{{product.id }}" id="ProductSelect-{{ section.id }}" data-section="{{ section.id }}" class="product-form__variants no-js">
              {% for variant in product.variants %}
                {% if variant.available %}
                  <option {% if variant == product.selected_or_first_available_variant %} selected="selected" {% endif %} value="{{ variant.id }}">
                    {{ variant.title }}
                  </option>
                {% else %}
                  <option disabled="disabled">{{ variant.title }} - {{ 'products.product.sold_out' | t }}</option>
                {% endif %}
              {% endfor %}
            </select>

            {% if section.settings.show_quantity_selector %}
              {% if product.title != "Blinds" %}
              <div class="product-form__item product-form__item--quantity">
                <label for="Quantity">{{ 'products.product.quantity' | t }}</label>
                <input type="number" id="Quantity" name="quantity" value="1" min="1" class="product-form__input" pattern="[0-9]*">
              </div>
              {% endif %}
            {% endif %}

            <div class="product-form__item product-form__item--submit">

              <div id="cart-message-popup" class="custom-youtube-overlay">
                <div class="popup-inner hiw">
                  <a href="javascript:void(0)" class="closebtn"  onclick="closePopup('cart-message-popup')">&times;</a>

                  <br />
                  <br />
                  {{ product.metafields["global"]["cart-message-content"] }}
                  <br />
                  <button type="submit" name="add" id="AddToCart-{{ section.id }}" {% unless current_variant.available %}disabled="disabled"{% endunless %} class="btn product-form__cart-submit{% if product.options.size == 1 and product.variants[0].title == 'Default Title' %} product-form__cart-submit--small{% endif %}">
                    <span id="AddToCartText-{{ section.id }}">
                      {% if current_variant.available %}
                        {{ 'products.product.add_to_cart' | t }}
                      {% else %}
                        {{ 'products.product.sold_out' | t }}
                      {% endif %}
                    </span>
                  </button>
                  <br />

                  <br />

                </div>

              </div>
              <button onclick="openPopup('cart-message-popup')" type="button" {% unless current_variant.available %}disabled="disabled"{% endunless %} class="btn product-form__cart-submit{% if product.options.size == 1 and product.variants[0].title == 'Default Title' %} product-form__cart-submit--small{% endif %}">
                <span>
                  {% if current_variant.available %}
                    {{ 'products.product.add_to_cart' | t }}
                  {% else %}
                    {{ 'products.product.sold_out' | t }}
                  {% endif %}
                </span>
              </button>
            </div>
          </form>

        </div>

        <div class="product-single__description rte" itemprop="description">
          {% if product.title != "Blinds1" %}
          {{ product.description }}
          {% endif %}

        </div>


        {% if section.settings.show_share_buttons %}
          {% include 'social-sharing', share_title: product.title, share_permalink: product.url, share_image: product %}
        {% endif %}
      </div>
    </div>
  </div>

  	{% comment %}

  	THIS IS THE BEGINNING OF THE DETAILS ON EACH PRODUCT PAGE

  	{% endcomment %}

 {% comment %}
    <div class="custom-product-details">
    	<div class="custom-product-image-text" style="background:url('https://cdn.shopify.com/s/files/1/2330/0585/files/Kitchen_rendering.jpg?16277869696997666579');background-position: center;background-size:cover;">
          <h4 class="custom-blinds-header-text" style="padding-top: 9%;">Meet the world's <br>smartest window covering</h4>
          	<center>
                <a class="btn" href="javascript:void(0)" onclick="openVideo('https://www.youtube.com/embed/Yi-a8iX5N2w')"> Watch the Video </a>
            </center>
        </div>
  	</div>
{% endcomment %}
 <!--============-->
{% for i in (1..7) %}

  {% assign app_control_position = product.metafields["global"]["APP_CONTROLS_POSITION"] | plus: 0 %}{% comment %} type conversion {% endcomment %}

  {% if app_control_position == i %}
    {% comment %} {% include "app-controls" %}{% endcomment %}
    <!-- <p>app-controls</p> -->
  {% endif %}

  {% capture enable %}{{i}}-CMS_BLOCK_ENABLE{% endcapture %}
  {% assign enable = product.metafields["global"][enable] %}


  {% capture first_cms_image %}{{ i }}-1-CMS_BLOCK_IMG{% endcapture %}
  {% assign first_cms_image = product.metafields["global"][first_cms_image] %}

  {% capture first_cms_text %}{{ i }}-1-CMS_BLOCK_TEXT{% endcapture %}
  {% assign first_cms_text = product.metafields["global"][first_cms_text] %}

  {% capture first_btn_url %}{{i}}-1-CMS_BLOCK_BUTTON_URL{% endcapture %}
  {% assign first_btn_url = product.metafields["global"][first_btn_url] %}

  {% capture first_btn_text %}{{i}}-1-CMS_BLOCK_BUTTON_TEXT{% endcapture %}
  {% assign first_btn_text = product.metafields["global"][first_btn_text] %}

  {% capture first_btn_video %}{{i}}-1-CMS_BLOCK_BUTTON_IS_VIDEO{% endcapture %}
  {% assign first_btn_video = product.metafields["global"][first_btn_video] %}


  {% capture second_cms_image%}{{ i }}-2-CMS_BLOCK_IMG{% endcapture %}
  {% assign second_cms_image = product.metafields["global"][second_cms_image] %}

  {% capture second_cms_text %}{{ i }}-2-CMS_BLOCK_TEXT{% endcapture %}
  {% assign second_cms_text = product.metafields["global"][second_cms_text] %}

  {% capture second_btn_url %}{{i}}-2-CMS_BLOCK_BUTTON_URL{% endcapture %}
  {% assign second_btn_url = product.metafields["global"][second_btn_url] %}



	{% if enable == 'true' %}

      {% if second_cms_text or second_cms_image %}

      <div class="grid grid--no-gutters image-bar image-bar--medium">
        <div class="grid__item medium-up--one-half">
          <div class="custom-product-image-text" style="background:url('{{ first_cms_image }}');background-position: center;background-size:cover;">
            <div class="custom-blinds-header-text" style="padding-top: 12%;">
              {{ first_cms_text }}
            </div>
            {% if first_btn_text and first_btn_url %}
            <center>
              <a class="btn" href="{{ first_btn_url }}" >{{ first_btn_text }}</a>

            </center>
            {% endif %}

          </div>
        </div>

        <div class="grid__item medium-up--one-half">
          <div class="custom-product-image-text" style="background:url('{{ second_cms_image }}');background-position: center;background-size:cover;">
            <div class="custom-blinds-header-text" style="padding-top: 12%;">
              {{ second_cms_text }}
            </div>

            {% if second_btn_text and second_btn_url %}
            <center>
              <a class="btn" href="{{ second_btn_url }}" >{{ second_btn_text }}</a>
            </center>
            {% endif %}

          </div>
        </div>


      </div>

      {% else %}

      <div class="custom-product-details">
        <div class="custom-product-image-text" style="background:url('{{ first_cms_image }}');background-position: center;background-size:cover;">
          <div class="custom-blinds-header-text" style="padding-top: 12%;">
            {{ first_cms_text }}
          </div>

          {% if first_btn_text and first_btn_url %}

            <center>
            {% if first_btn_video %}
              <a class="btn" href="javascript:void(0)" onclick="openVideo('{{ first_btn_url }}')">{{ first_btn_text  }}</a>
            {% else %}
              <a class="btn" href="{{ first_btn_url }}" >{{ first_btn_text }}</a>
            {% endif %}
          {% endif %}
          </center>

        </div>
      </div>


      {% endif %}
	{% endif %}
{% endfor %}




    <div class="custom-product-details">
      <div id="shopify-product-reviews" data-id="{{product.id}}">{{ product.metafields.spr.reviews }}</div>
    </div>
</div>

{% if collection %}
  <div class="text-center return-link-wrapper">
    <a href="{{ collection.url }}" class="btn btn--secondary btn--has-icon-before return-link">
      {% include 'icon-arrow-left' %}
      {{ 'products.product.back_to_collection' | t: title: collection.title }}
    </a>
  </div>
{% endif %}

{% unless product == empty %}
  <script type="application/json" id="ProductJson-{{ section.id }}">
    {{ product | json }}
  </script>
{% endunless %}

<div id="myVideo" class="custom-youtube-overlay">
	<div id="screen" class="custom-youtube-overlay-content" style="top: 11%;">
    	<a href="javascript:void(0)" class="closebtn" style="color:#f1f1f1;" onclick="closeVideo('https://www.youtube.com/embed/yOa0I6xNYkg')">&times;</a>
        <iframe id="myIframe" width="100%" height="100%" src="https://www.youtube.com/embed/yOa0I6xNYkg" frameborder="0" allowfullscreen autoplay="true"></iframe>
	</div>
</div>
<div id="splititOverlay" class="custom-youtube-overlay">
  			<div id="whiteGloveBox" class="splitit-overlay-content">
              <pre id="object"></pre>
              <a href="javascript:void(0)" class="closebtn" style="color:#f1f1f1;" onclick="closeSplitit()">&times;</a>
              <img src="https://cdn.shopify.com/s/files/1/2330/0585/files/splitit.png?15421477240513741825" class="wg-img" style="width:23%;margin-top:20px"/>
              <h2 class="wg-small" style="margin-top: 40px;font-size:20px;">Make up to 6 easy monthly payments with 0% APR </h2>
              <h4 style="margin-bottom:60px;" class="wg-after-check"> Select Splitit at checkout </h4>
              <h4 style="margin-botom:60px" class="wg-after-check"><b><i>NO</i></b> interest or fees, <b><i>NO</i></b> application, <b><i>NO</i></b> credit check</h4>
              <h3 class="wg-small" style="background: #f1f1f1; padding: 40px;">Subject to credit check and approval. Down payment may be required. For purchases under $100, limited payment options may be available. Estimated payment amount excludes taxes, add-ons and shipping fees. See www.splitit.com/faq for details.</h3>
  			</div>
</div>
<div id="smartphone-compatibility" class="custom-youtube-overlay">
  <a href="javascript:void(0)" class="closebtn"  onclick="closePopup('smartphone-compatibility')">&times;</a>
  <div class="popup-inner">
    {% assign pageCompatibility = "tilt-smartphone-compatibility" %}
    {{ pages[pageCompatibility].content }}
  </div>

</div>
<script>
  function openSplitit() {
		document.getElementById("splititOverlay").style.height = "100%";
    }
  function closeSplitit() {
        document.getElementById("splititOverlay").style.height = "0%";
	}
	function openVideo(iSrc) {
		document.getElementById("myVideo").style.height = "100%";
        document.addEventListener("touchstart", function(){}, true)
        var iframe = document.getElementById("myIframe");
        iframe.src = iSrc + "?autoplay=1";
        window.scrollTo(0, 500);
  }
	function closeVideo(iSrc) {
        document.getElementById("myVideo").style.height = "0%";
        var iframe = document.getElementById("myIframe");
        iframe.src = iSrc;
	}
</script>
{% comment %}<!-- For testing purposes for BII  -->
<button onclick="addMany()">Test button (don't press!)</button>

<script type="text/javascript">

var urltest = '/cart/update.js';
var product1 = 19202042298426;
var product2 = 19252264894522;
var bodytest = "updates[" + product1 + "]=1&updates[" + product2 + "]=1";

var urltestTwo = '/cart/add.js';
var product3 = 19202103738426;
var bodytestTwo = {
  quantity: 3,
  id: product3
}
bodytestTwo = JSON.stringify(bodytestTwo);

function postRequest(url, body, form, callback){
  var xhr = new XMLHttpRequest();
  xhr.open("POST", url, true);
  if (form == true){
    xhr.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
  }
  else{
    xhr.setRequestHeader('Content-Type', 'application/json');
  }
  xhr.send(body);
  xhr.onload = function() {
    var data = JSON.parse(this.responseText);
    console.log('response:: ', data)
    callback();
  }
}

function addMany(){
  postRequest(urltest, bodytest, true, function(){
    postRequest(urltestTwo, bodytestTwo, false, function(){
      window.location.href = '/cart';
    });
  });
}

</script>
{% endcomment %}


{% schema %}
  {
    "name": "Product pages",
    "settings": [
      {
        "type": "select",
        "id": "image_size",
        "label": "Image size",
        "options": [
          {
            "value": "small",
            "label": "Small"
          },
          {
            "value": "medium",
            "label": "Medium"
          },
          {
            "value": "large",
            "label": "Large"
          },
          {
            "value": "full",
            "label": "Full-width"
          }
        ],
        "default": "medium"
      },
      {
        "type": "checkbox",
        "id": "show_quantity_selector",
        "label": "Show quantity selector",
        "default": false
      },
      {
        "type": "checkbox",
        "id": "show_variant_labels",
        "label": "Show variant labels",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "show_vendor",
        "label": "Show vendor",
        "default": false
      },
      {
        "type": "checkbox",
        "id": "enable_zoom",
        "label": "Enable image zoom",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "show_share_buttons",
        "label": "Show social sharing buttons",
        "default": true
      }
    ]
  }
{% endschema %}
