<link href="https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700,800,900" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900" rel="stylesheet">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">

{{ 'bootstrap.min.css' | asset_url | stylesheet_tag }}
{{ 'style.css' | asset_url | stylesheet_tag }}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<div class="container-fluid">
  <section class="my_smart">
    <div class="container">
      <div class="my_smart_heading">
        <h1><img src="https://cdn.shopify.com/s/files/1/2330/0585/files/tilt-web-logo-white_4c601709-0697-4482-9818-02ed02b5787b.png?5223" style="width: 60px; height: auto;"> Pro</h1>
        <ul>
          <li>Discounted Pricing</li>
          <li>Pro Warranty</li>
          <li>VIP Support</li>
          <li>Marketing Material</li>
        </ul>
        <div class="my_smart_link_main">
          <a href="https://wholesale.mysmartblinds.com/account/login" target="_blank" class="btn my_smart_link">LOG IN</a>
          <a href="https://form.jotform.com/82406288114152" target="_blank" class="btn my_smart_link_2">APPLY</a>
        </div>
      </div>
    </div>
  </section>
  <section class="window_cover">
    <div class="container">
      <div class="window_cover_heading">
        <h2>The World's Smartest Window Coverings</h2>
        <p>tilt creates truly smart products that transform homes into smart homes - giving your customers control of their homes' privacy, temperature, lighting, and security.</p>
      </div>
      <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
          <div class="window_cover_para">
            <p>With in-app scheduling, sun-tracking, Energy Savings mode, and voice control, your customers can have customized light, privacy, and temperature whether they're home or away.</p>
          </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
          <div class="window_cover_img"> <img src="{{ 'window.jpg' | file_url }}" alt="" title=""> </div>
        </div>
      </div>
    </div>
  </section>
  <section class="MySmartBlinds">
    <div class="container">
      <div class="MySmartBlinds_heading">
        <h3>MySmartBlinds</h3>
        <p>Automated, custom-fit blinds powered by solar energy and simply installed with our patented SmartLock technology</p>
      </div>
      <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
          <div class="MySmartBlinds_img"> <img src="{{ 'BLIND.png' | file_url }}" alt="" title=""> </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
          <div class="MySmartBlinds_para">
            <p>MySmartBlinds can be installed in seconds with SmartLock Technology.</p>
            <p>For more light, or more privacy, MySmartBlinds have you covered.</p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="Automation_kit">
    <div class="container">
      <div class="window_cover_heading line_2">
        <h2>MySmartBlinds Automation Kit</h2>
        <h6>Automate existing blinds in minutes</h6>
        <p>Do you have your own brand of blinds or a favorite that you distribute? Or do you want to raise the value of your customers' current blinds? Now you can, with the MySmartBlinds Automation Kit.</p>
      </div>
      <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
          <div class="window_cover_para">
            <p>The MySmartBlinds Automation Kit controls the tilting of horizontal blinds on a schedule and on demand from voice, Smart Switch, and smartphone.</p>
          </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
          <div class="window_cover_img"> <img src="{{ 'auto.png' | file_url }}" alt="" title=""> </div>
        </div>
      </div>
    </div>
  </section>
  <section class="install_tool">
    <div class="container">
      <div class="MySmartBlinds_heading">
        <h3>Simple to install, no tools required</h3>
        <p>Designed with professionals in mind</p>
      </div>
      <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
          <div class="MySmartBlinds_img"> <img src="{{ 'tool.png' | file_url }}" alt="" title=""> </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
          <div class="MySmartBlinds_para tool_2">
            <p>We design our products for easy, hasslefree installation that can be installed in minutes, saving you and your company time and giving you the gift of efficiency.</p>
            <p>Everything you need for installation is included</p>
            <a href="https://support.mysmartblinds.com" class="btn ">LEARN MORE</a>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="iphone">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
          <div class="MySmartBlinds_img"> <img src="{{ 'iphone.png' | file_url }}" alt="" title=""> </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
          <div class="MySmartBlinds_para iphone_2">
            <p>Customers can control their MySmartBlinds with the following Android or iOS devices</p>
            <a data-toggle="modal" data-target="#myModal" class="btn">LEARN MORE</a>
          </div>
          <div class="play_store">
            <a href="https://itunes.apple.com/us/app/mysmartblinds/id1042778784?mt=8" target="_blank"><img src="{{ 'ap.png' | file_url }}" alt="" title=""></a>
            <a href="https://play.google.com/store/apps/details?id=com.mysmartblinds2.android" target="_blank"><img src="{{ 'pl.png' | file_url }}" alt="" title=""></a>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="Smart_home">
    <div class="container">
      <div class="Smart_home_heading">
        <h3>tilt works with your customers existing
          smart home, or completely on their own.</h3>
        <img src="{{ 'home_31e2aabc-10dd-4d2b-a1c7-31df1ae28ae3.png' | file_url }}" alt="" title="">
      </div>
      <div class="Smart_home_img">
        <img src="{{ 'google_8d97aa1d-d004-4946-972e-ce74f1a0dde4.png' | file_url }}" alt="" title="">
        <img src="{{ 'g32.png' | file_url }}" alt="" title="">
      </div>
    </div>
  </section>
  <section class="sell_sheet">
    <div class="container">
      <div class="sell_sheet_heading">
        <h3>Sell Sheets</h3>
      </div>
      <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
          <div class="sell_sheet_cnt">
            <a href="https://cdn.shopify.com/s/files/1/2330/0585/files/Blinds_Sell_Sheet.pdf" target="_blank" class="sell_1"><img src="{{ 'sell_1.png' | file_url }}"></a>
            <h4><a href="https://cdn.shopify.com/s/files/1/2330/0585/files/Blinds_Sell_Sheet.pdf" target="_blank">MySmartBlinds</a></h4>
            <a href="https://cdn.shopify.com/s/files/1/2330/0585/files/Blinds_Sell_Sheet.pdf" target="_blank" class="btn sell_sheet_link">SELL SHEET</a>
          </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
          <div class="sell_sheet_cnt">
            <a href="https://cdn.shopify.com/s/files/1/2330/0585/files/Automation_Kit_Sell_Sheet.pdf" target="_blank" class="sell_2"><img src="{{ 'sell_2.png' | file_url }}" alt="" title=""></a>
            <h4><a href="https://cdn.shopify.com/s/files/1/2330/0585/files/Automation_Kit_Sell_Sheet.pdf" target="_blank">MySmartBlinds Automation Kit</a></h4>
            <a href="https://cdn.shopify.com/s/files/1/2330/0585/files/Automation_Kit_Sell_Sheet.pdf" target="_blank" class="btn sell_sheet_link">SELL SHEET</a>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="benefits">
    <div class="container">
      <div class="sell_sheet_heading">
        <h3>Benefits for Pros</h3>
        <p>Becoming a tilt Pro is free and doesn't require a sales minimum to maintain. Learn what's unique about tilt and how it benefits your customers.</p>
      </div>
      <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
          <div class="benefits_cnt">
            <div class="benefits_img"> <img src="{{ 'lock.png' | file_url }}" alt="" title=""> </div>
            <div class="benefits_text">
              <h3>Pro Warranty</h3>
              <p>Give your customers peace of mind<br>
                with a Lifetime Warranty</p>
            </div>
          </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
          <div class="benefits_cnt">
            <div class="benefits_img"> <img src="{{ 'ar.png' | file_url }}" alt="" title=""> </div>
            <div class="benefits_text">
              <h3>Authorized Resale Program</h3>
              <p>Get tilt products at<br>
                wholesale pricing</p>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
          <div class="benefits_cnt">
            <div class="benefits_img"> <img src="{{ 'note.png' | file_url }}" alt="" title=""> </div>
            <div class="benefits_text">
              <h3>Marketing Materials</h3>
              <p>Access templates, logos, and<br>
                marketing assets whenever you need</p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
          <div class="benefits_cnt">
            <div class="benefits_img"> <img src="{{ 'phone.png' | file_url }}" alt="" title=""> </div>
            <div class="benefits_text">
              <h3>VIP Support</h3>
              <p>We're here for you</p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
          <div class="benefits_cnt">
            <div class="benefits_img"> <img src="{{ 'ba.png' | file_url }}" alt="" title=""> </div>
            <div class="benefits_text">
              <h3>Patented Technology</h3>
              <p>Access to the world's smartest
                window coverings</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="end_bg">
    <div class="container">
      <div class="end_bg_text">
        <p>Become a tilt Pro today and sell
          the world's smartest window coverings</p>
        <a href="https://form.jotform.com/82406288114152" target="_blank" class="btn">APPLY</a>
      </div>
    </div>
  </section>
  <footer class="footer_all">
    <div class="footer_menu">
      {% if linklists.footer.links.size > 0 %}
      <ul>
        {% for link in linklists.footer.links %}
        <li>
          <a href="{{ link.url }}">{{ link.title }}</a>
        </li>
        {% endfor %}
      </ul>
      {% endif %}
    </div>
    <div class="social_media">
      <ul>
        {% if settings.social_facebook_link != blank %}
        <li>
          <a href="{{ settings.social_facebook_link | escape }}" title="{{ 'layout.footer.social_platform' | t: name: shop.name, platform: 'Facebook' }}">
            <i class="fab fa-facebook-square"></i>
          </a>
        </li>
        {% endif %}
        {% if settings.social_twitter_link != blank %}
        <li>
          <a href="{{ settings.social_twitter_link | escape }}" title="{{ 'layout.footer.social_platform' | t: name: shop.name, platform: 'Twitter' }}">
            <i class="fab fa-twitter"></i>
          </a>
        </li>
        {% endif %}
        {% if settings.social_pinterest_link != blank %}
        <li>
          <a href="{{ settings.social_pinterest_link | escape }}" title="{{ 'layout.footer.social_platform' | t: name: shop.name, platform: 'Pinterest' }}">
            <i class="fab fa-pinterest"></i>
          </a>
        </li>
        {% endif %}
        {% if settings.social_instagram_link != blank %}
        <li>
          <a href="{{ settings.social_instagram_link | escape }}" title="{{ 'layout.footer.social_platform' | t: name: shop.name, platform: 'Instagram' }}">
            <i class="fab fa-instagram"></i>
          </a>
        </li>
        {% endif %}
        {% if settings.social_tumblr_link != blank %}
        <li>
          <a href="{{ settings.social_tumblr_link | escape }}" title="{{ 'layout.footer.social_platform' | t: name: shop.name, platform: 'Tumblr' }}">
            <i class="fab fa-tumblr"></i>
          </a>
        </li>
        {% endif %}
        {% if settings.social_snapchat_link != blank %}
        <li>
          <a href="{{ settings.social_snapchat_link | escape }}" title="{{ 'layout.footer.social_platform' | t: name: shop.name, platform: 'Snapchat' }}">
            <i class="fab fa-snapchat"></i>
          </a>
        </li>
        {% endif %}
        {% if settings.social_youtube_link != blank %}
        <li>
          <a href="{{ settings.social_youtube_link | escape }}" title="{{ 'layout.footer.social_platform' | t: name: shop.name, platform: 'YouTube' }}">
            <i class="fab fa-youtube"></i>
          </a>
        </li>
        {% endif %}
        {% if settings.social_vimeo_link != blank %}
        <li>
          <a href="{{ settings.social_vimeo_link | escape }}" title="{{ 'layout.footer.social_platform' | t: name: shop.name, platform: 'Vimeo' }}">
            <i class="fab fa-vimeo"></i>
          </a>
        </li>
        {% endif %}
      </ul>
    </div>
    <div class="copyright">
      <p>© 2018, tilt</p>
      <img src="{{ 'pay.png' | file_url }}"> </div>
  </footer>
</div>

<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body" style="background: url({{ 'phone_in_hands.jpeg' | file_url }}); background-position: center top; background-repeat: no-repeat; background-size: cover;">
        <h1>iOS Devices</h1>
        <h4>Devices with iOS 10 or newer</h4>
        <ul>
          <li>iPhone 5, 5s, 5c</li>
          <li>iPhone 6, 6 Plus</li>
          <li>iPhone 6s, 6s Plus</li>
          <li>iPhone 7, 7 Plus</li>
          <li>iPhone 8, 8 Plus</li>
          <li>iPad Pro</li>
          <li>iPad Air & Air 2</li>
          <li>iPad 4th generation</li>
          <li>iPad Mini 2, 3, 4</li>
          <li>iPhone X, Xs, Xr</li>
        </ul>
        <h1>Android Devices</h1>
        <h4>Devices with Android 5.0 or newer</h4>
        <ul>
          <li>Samsung Galaxy S5, S6, S7, S8, S9</li>
          <li>Samsung Galaxy Note 8</li>
          <li>Google Pixel, Pixel XL, Pixel 2, Pixel 2 XL</li>
          <li>Droid Turbo 2</li>
          <li>Moto Z</li>
        </ul>
      </div>
    </div>

  </div>
</div>
